section {
    width: 100%;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

figure {
    width: 50%;
}

figure img {
    width : 80%;

}

ul {
    padding: 0;
    width: 80%;
    list-style-type: none;
}

li {
    padding-bottom: 10px;
}
