<app-header></app-header>
<div class="home">
    <h2>NEGOSUD, VOTRE CAVE EN LIGNE</h2>
    <div>
        <p>
            Découvrez un grand choix de vins, champagnes, spiritueux, tout au long de l’année.
        </p>
    </div>
</div>

<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/wine-rack-g0168470e0_1920.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/wine-g22587f78c_1920.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/vineyard-g409712be2_1920.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
<app-footer></app-footer>
