<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>NegoSud
            </h6>
            <p>
              <a href="#" class="text-reset">Mentions Légales</a>
            </p>
            <p>
              <a href="#" class="text-reset">Protection Des Données</a>
            </p>
            <p>
              <a href="#" class="text-reset">Conditions Générales D'Utilisation</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Vins
            </h6>
            <p>
              <a href="/vin" class="text-reset">Tariquet</a>
            </p>
            <p>
              <a href="/wine-list" class="text-reset">Pellehaut</a>
            </p>
            <p>
              <a href="/wine-list" class="text-reset">Uby</a>
            </p>
            <p>
              <a href="/wine-list" class="text-reset">Vignoble Fontan</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Couleurs
            </h6>
            <p>
              <a href="/wine-list" class="text-reset">Rouge</a>
            </p>
            <p>
              <a href="/wine-list" class="text-reset">Blanc</a>
            </p>
            <p>
              <a href="/wine-list" class="text-reset">Rosé</a>
            </p>
            <p>
              <a href="/wine-list" class="text-reset">Pétillant</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p>Route de Saint-Michel de Castelnau, 47700 Beauziac</p>
            <p>
              contact@negosud.com
            </p>
            <p>05 56 54 45 21</p>

          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2023 Copyright
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/"></a>
    </div>
    <!-- Copyright -->
</footer>
  <!-- Footer -->
