.content {
    width: 80%;
    padding-left: 20%;
}

div {
    color: white;
}

.col-2 {
    margin-top: 10%;
}

.col-1 {
    margin-top: 10%;
}

.name {
    padding-left: 10%;
}

.btn {
    margin-right: 10%;
    margin-bottom: 10%;
}
img {
    width: 50%;
}

h3{
    color: white;
}

h1 {
    padding-left: 40%;
    padding-bottom: 30px;
    padding-top: 30px;
    color: white;
}

